<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-md-8 col-sm-12 mx-auto">
            <div class="h-100 justify-content-center">
                <div class="chat-container" style="overflow: auto; max-height: 80vh">
                    <!-- chat messages -->
                    <div class="chat-message col-md-5 offset-md-7 bot-message">
                        Hi I'm Sentinal! How can I help you?
                    </div>
                </div>
                <form id="chat_target">
                    <input id="chat_input" class="input" type="text" value="" placeholder="Enter message..."
                           />
                    <input type="submit" hidden>
                </form>
            </div>
        </div>
    </div>
</div>
