

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design" class="simple-text logo-mini">
            SD
          </a>
          <a href="https://appseed.us/admin-dashboards/flask-dashboard-material-design" class="simple-text logo-normal">
            Sentinal Dashboard
          </a>
        </div>


        <ul class="nav">
          <li class="active ">
            <a href="#">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="tim-icons icon-atom"></i>
              <p>Chatbot</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
